registry = https://registry.npmmirror.com/

sharp_binary_host = https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host = https://cdn.npmmirror.com/binaries/sharp-libvips
profiler_binary_host_mirror = https://cdn.npmmirror.com/binaries/node-inspector/
fse_binary_host_mirror = https://cdn.npmmirror.com/binaries/fsevents
node_sqlite3_binary_host_mirror = https://cdn.npmmirror.com/binaries
sqlite3_binary_host_mirror = https://cdn.npmmirror.com/binaries
sqlite3_binary_site = https://cdn.npmmirror.com/binaries/sqlite3
electron_mirror = https://cdn.npmmirror.com/binaries/electron/
puppeteer_download_host = https://cdn.npmmirror.com/binaries
chromedriver_cdnurl = https://cdn.npmmirror.com/binaries/chromedriver
operadriver_cdnurl = https://cdn.npmmirror.com/binaries/operadriver
phantomjs_cdnurl = https://cdn.npmmirror.com/binaries/phantomjs
python_mirror = https://cdn.npmmirror.com/binaries/python
sass_binary_site = https://cdn.npmmirror.com/binaries/node-sass
